body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f0f0f0;
}

/* Bagian Menu Navigasi */
.navbar {
    display: flex;
    position: fixed;
    justify-content: center;
    align-items: center;
    gap: 30px;
    padding: 10px 0;
    background-color: rgb(255, 255, 255);
    position: center;
    top: 0;
    width: 100%;
}
.navbar a {
    color: rgb(1, 117, 3);
    text-decoration: none;
    font-weight: bold;
    margin-top: 2%;
    margin-bottom: 2%;
}

/* Bagian Headernya Website */
.header-section {
    color: white;
    padding: 50px 0;
    text-align: center;
}
.logo-section {
    padding-top: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.logo {
    width: 150px;
    height: 150px;
    border-radius: 0%;
}
.social-icons {
    margin-top: 15px;
}
.social-icons a {
    color: rgb(255, 255, 255);
    margin: 0 5px;
    font-size: 30px;
    text-decoration: none;
}
.social-icons a:hover {
    color: #c4f013;
}

/* Bagian Dewan Saka Lintas Periode */
.content-card {
    background-color: white;
    border-radius: 15px;
    padding: 30px;
    margin: -20px auto 30px auto; /* Margin negatif untuk efek melayang di atas header */
    width: 80%;
    max-width: 1000px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
.dewa-saka-grid {
    display: flex;
    justify-content: center;
    gap: 20px;
    text-align: center;
    flex-wrap: wrap;
    margin-top: 20px;
}
.dewa-saka-item img {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    border: 2px solid #ddd;
}
.dewa-saka-font :hover{
    color: #0e6735;
}

/* Bagian Pengurus Saka Wanabakti */
.flip-card {
  width: 250px;
  height: 300px;
  perspective: 1000px;
}
.flip-card-front img {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  border: 10px solid #ffffff;
  position: cover;
}
.flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.6s;
  transform-style: preserve-3d;
}

.flip-card:hover .flip-card-inner {
  transform: rotateY(180deg);
}

.flip-card-front, .flip-card-back {
  position: absolute;
  width: 100%;
  height: 80%;
  border-radius: 10%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.flip-card .sosmed a {
    margin-top: 15px;
    color: white;
}
.flip-card-back {
  background-image: url('gambar/background flip.jpeg');
  color: white;
  transform: rotateY(180deg);
}

/* Bagian Berita */
.berita-huruf {
    text-align: center;
    margin-top: 10%;
}
.berita-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
}
.berita-item {
    border: 1px solid #eee;
    border-radius: 8px;
    padding: 15px;
    text-align: center;
}
.berita-item img {
    width: 80px;
    height: 80px;
    border-radius: 10%;
}

/* Bagian Footer */
footer {
  width: 100%;
  background-color: #f0f0f0;
  color: #1e6c07;
  text-align: center;
  align-items: center;
  justify-content: center;
  flex-direction: row;
}

.footer-container {
  width: 100%;
  margin: 0;
  padding: 40px 20px;

  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
}

.footer-col h3 {
  margin-bottom: 15px;
  font-size: 25px;
  font-weight: bold;
}

.footer-col p {
  line-height: 1.7;
  font-size: 0.9em;
  align-items: center;
}

.footer-menu {
  list-style: none;
  padding: 0;
}

.footer-menu li {
  margin-bottom: 10px;
}

.footer-menu a {
  color: #1e6c07;
  text-decoration: none;
  font-size: 0.9em;
}

.footer-menu a:hover {
  text-decoration: underline;
}

.footer-social {
  display: flex;
  gap: 15px;
  justify-content: center;
}

.footer-social a {
  font-size: 22px;
  color: #1e6c07;
  transition: 0.3s;
  align-items: center;
}

.footer-social a:hover {
  color: #c4f013;
}

.footer-bottom {
  text-align: center;
  padding: 15px;
  font-size: 0.85em;
  background-color: #0b3d17;
}
@media (max-width: 768px) {
  .footer-container {
    grid-template-columns: 1fr;
    text-align: center;
  }

  .footer-social {
    justify-content: center;
  }
}